/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.list {

}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 20px;
  margin-right: 700px;
}

.header {
  font-size: x-large;
  text-decoration: none;
}

.box {
  margin: 10px 50px 0 50px;
}

.simple_form {
  /* margin-top: 80px; */
  float: none;
  text-align: center;
}

.form-control {
  display: inline-block;
  width: 40%;
}

.form-select {
  display: inline-block;
  width: 40%;
}

.form-label {
  display: block;
}

.add {
  text-align: center;
}

.navbar {
  display: flex;
}

.home-btn {
  margin-right: 50px;
}

.review-btn {
  margin-left: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}
